@using WebApiGit.Controllers

@{
    ViewData["Title"] = "Browse";
}

<h1>Browse weather data</h1>

@foreach (var forecast in WeatherForecastController.Db.WeatherForecasts)
{
    <div>Date: @forecast.Date</div>
    <div>Temperature: @forecast.TemperatureC</div>
    <div>Humidity: @forecast.Humidity</div>
    <div>Pressure: @forecast.Pressure</div>
    <div>Summary: @forecast.Summary</div>
}


<input type="button"
       value="Return to main page"
       onclick="location.href='@Url.Action("Index","Home")'" />

<input type="button"
       value="Submit new weather data"
       onclick="location.href='@Url.Action("Index", "WeatherForecast")'" />